
.D9 #top-title{
  margin-bottom: 50px;
}

.D9 #main-container {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 70%;
  height: 65%;
}

.D9 #chartDropdown{
  align-self: flex-end;
  top: 0;
}

.D9 #side-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
  width: 28%;
  height: 65%;
}

.D9 #kpi-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 50%;
}

.D9 #bottom-container {
  display: flex;
  gap: 15px;
  width: 100%;
  height: fit-content;
  padding: 20px;
  justify-content: space-between;
}

.D9 h3{
  margin-bottom: 0;
  font-size: 16px;
}

.D9 .kpi-visual {
  background-color: rgb(128, 223, 240);
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  height: min-content;
}


.D9 #side-visual {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}


.D9 #bottom-left-visual {
  background-color: rgb(128, 240, 218);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  text-align: flex-start;

  
}

.D9 .filter{
  display: flex;
  flex-direction: row;
  gap: 20px;
}